.success {
  color: green;
  background: lightgray;
  font-size: 20px;
  padding: 10px;
  margin-bottom: 10px;
  border: 5px solid;
  border-radius: 5px;
}

.error {
  color: crimson;
  background: lightgray;
  font-size: 20px;
  padding: 10px;
  margin-bottom: 10px;
  border: 5px solid;
  border-radius: 5px;
}
